@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins',sans-serif !important;
    font-size: 0.875rem;
    opacity: 1;
    overflow: scroll;
    margin: 0;
}

.icone{
    max-width: 40px!important; 
    max-height: 40px!important;
}
.sino{
    max-width: 28px!important; 
    max-height: 28px!important;
}
.avatar{
    max-width: 40px!important; 
    max-height: 40px!important;
}
.link-sair{
    font-size: 15px!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
    border: 1px solid #000!important;
    text-decoration: none!important;
}
.navbar-expand {
    flex-wrap: nowrap;
    justify-content:space-around !important ;
}
#tapa{
    width: 100%;
    justify-content: space-around;
    
}
#nome{
    display: flex;
    justify-content: center;
    align-items: center;
}
#canto{
   width: 29%;
    align-items: center;
    margin-right: 2%;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255) !important;
}
.nav-link {
    font-size:25px !important; 

}
#logo{
    margin-left: 5%;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: start !important;
}

#dropdentro{
--bs-dropdown-bg: #ffc10f !important ;
--bs-dropdown-color:#ffc10f !important ;
--bs-dropdown-border-width: #ffc10f !important;
--bs-dropdown-min-width:8rem !important;
font-size:25px !important;

}

.dropdown-item-dentro:focus, .dropdown-item-dentro:hover {
    color: white !important;
    background-color: #dfa609 !important ;
}
.dropdown-item-dentro {
    color: white !important;
    display: block;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    width: 100% !important;
}
#cor{
    background-color: #ffc10f !important;
}
#tec{
    font-size: 120%;
}
.carroca{
   display: inline-block;
    max-width: 100%;
    min-width: 50%;
    height: 40px;
    max-height: 50%;
    min-height: 50%;
}
#reco{
    height: 60vh;
}
